<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a new Producer</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/producers">Producers Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/producers" method="post">
        <input type="text" name="name" />
      </form>
    </main>

  </body>
</html>
